<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Shoppings
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="abreMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="span-0" text-center text-wrap *ngIf="shoppings.length < 1 && loaded">
    <span style="color: #8c8c8c">
      Não encontramos nenhum shopping em que você esteja cadastrado :(
    </span>
    <div></div>
    <span style="color: #8c8c8c">
       entre em contato com os vendedores do atacado
    </span>
  </div>
  <ion-spinner
    class="spinner" color="primary" *ngIf="shoppings.length < 1 && !loaded">
  </ion-spinner>
  <ion-grid *ngIf="shoppings.length > 0">
    <ion-row>
      <ion-col *ngFor="let shopping of shoppings" col-6 col-md-4 col-lg-3>
        <img [src]="shopping.logoShopping" (click)="selecionaShopping(shopping)"
             class="logo-shopping">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
