<!-- Generated template for the AlertSolicitacaoEnviadaComponent component -->
<div class="dialog-background">
  <div class="middle">
    <div margin-top text-center>
      <img src="assets/imgs/smile.png">
    </div>
    <div text-center margin-top padding>
      <span>
        Obrigado por enviar uma solicitação de cadastro! Nós do Simples Pedido estamos arrumando tudo para deixar perfeito para você, assim que pudermos, entraremos em contato :D
      </span>
    </div>
    <div margin-top text-center>
      <button ion-button round style="color: #e64c3c; background-color: #efe6e6" (click)="fechaDialog()">Entendi \\o/
      </button>
    </div>
  </div>
</div>
