page-pedidos {
  @keyframes fontsize {
    from {
      font-size: 3.5vw;
    }
    to {
      font-size: 4.5vw;
    }
  }

  @keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }

  @-webkit-keyframes slide-in {
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes slide-out {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }

  @keyframes slide-out-finalizado {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  @-webkit-keyframes slide-out-finalizado {
    0% {
      -webkit-transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(200%);
    }
  }

  ion-card {
    position: relative;
    text-align: center;
    width: calc(50% - 15px) !important;
    max-width: calc(50% - 15px) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
    border-radius: 4px !important;
  }

  .card-title {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: inline-table;
    text-align: center !important;
    font-size: 4.0vw;
    width: 100%;
    font-weight: bold;
    color: #fff;
    position: absolute;
  }

  .item-md {
    ion-thumbnail {
      img {
        padding: 20px !important;
        margin: 0 !important;
      }
    }
  }

  ion-list {
    margin: 0 !important;
    overflow-y: scroll;
  }

  .selected {
    -webkit-filter: none !important;
    filter: none !important;
  }

  .lista {
    background-color: whitesmoke;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    position: absolute;
    width: 100%
  }

  .lista-finalizado {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }

  .slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }

  .slide-out-finalizado {
    animation: slide-out-finalizado 0.5s forwards;
    -webkit-animation: slide-out-finalizado 0.5s forwards;
  }
}
